@media screen and (max-width : 720px) {

    * {
        box-sizing: border-box;
    }
  
    body {    
        padding: 6px;  
        background-color: #13414d;
        background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    }

    .navigation-bar { 
        padding-top: 0px;
        margin-left: 10px;
        text-align: center;
        width: 90%;
        position: fixed;
       font-family: 'Montserrat', sans-serif;
        font-size: bold;
        border-bottom: 1px #246d8f solid  ;       
    }

    ul {
        margin: auto;
        text-align: center;
        display: inline-block;
        padding: 0;
        list-style-type: none;
    }
   
    li.nav-link a {
        text-decoration: none;
        color: #e8f3f0;    
    }
    
    li {
        font-size: 14px;
        text-align: center;
        display: inline-block;
        padding: 5px;        
        display: inline-block; 
        margin-left: 10px;
        margin-right: 10px; 
    }

    button.photo-name {
        font-size: 14px;
        text-decoration: none;
        color: white;
        background-color: transparent;
        margin-left: 15px;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        padding: 3px;
        border: solid #7cabfe 1px;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    button:hover {
        cursor: pointer;
    }
   
    .bio-container {   
        margin-top: 50px;
    }

    .profile-photo {
        text-align: center;
        border: 1px solid #7cabfe;
        border-radius: 5px;
        margin: auto;  
        height: 350px;
        width: auto;
    }

    .bio-container {
        text-align: center;
    }

    .bio-text {       
        margin-top: 40px;
        color: #e8e5ff;        
        font-size: 25px;       
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .demo {
        font-family: 'Montserrat', sans-serif;
        color: #e8e5ff;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    div.demo-quiz h3 {
        font-size: 28px;
    }

    .screenshot {
        width: 400px;
        border: #7cabfe solid 1px;
        border-radius: 5px;
    }

    .description {
        font-size: 25px;
    }

    .hidden {
        display: none;
    }

    .informations-mobile {
        border-radius: 5px;
        padding: 5px;
        background-color: whitesmoke;
        position: fixed;
        border: 2px solid #7cabfe;
        margin-left: 200px;
        margin-top: -15px;
    }

    a.repository-link {
        text-decoration: none;
        color: #7cabfe;
    }

    .mobile-screenshot {
        border:#6c787c solid 1px;
        width: 100px;
        border-radius: 5px;
    }

    h3 a {
        color: white;
    }
  
    .informations {
        display: none;
    }

    .profile-name {
        display: none;
    }

    .pc-photo {
        display: none;
    }

    .pc-text {
        display: none;
    }

}
@media screen and (min-width : 720px) {

    * {
        box-sizing: border-box;
    }
    
    body {
        padding: 6px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,27,73,1) 24%, rgba(121,9,21,1) 69%, rgba(0,212,255,1) 100%);
    }

    .navigation-bar {
       font-family: 'Montserrat', sans-serif;
        font-size: bold;
        border-bottom: 1px #d2d4fe solid  ;
    }

    .nav-list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        color: #e8f3f0;
    }

    li.nav-link a {
        text-decoration: none;
        color: #e8f3f0;   
    }
    
    li {  
        display: inline-block;   
    }

    li.profile-name {
        color: rgb(187, 211, 238);
        font-weight: 400;
     }

    button:hover {
        cursor: pointer;
    }
   
    .bio-container {       
        margin-top: 20px;
    }

    .profile-photo {
        border: 1px solid #6c787c;
        border-radius: 5px;
        height: 350px;
        width: 350px;
    }

    .photo-container {   
        border-radius: 5px;
        margin-top: 05px;
        margin-right:50px;
        float: right;
    }

    .informations {
        font-family: 'Montserrat', sans-serif;
        color: antiquewhite;
    }

    div.informations a {
        color: #e8e5ff;
    }

    .bio-text {
        line-height: 45px;
        margin-top: 40px;
        color: #e8e5ff;
        margin-right: 10px;
        font-size: 25px;
        margin-left: 20px;   
        font-family: 'Montserrat', sans-serif;
    }

    .bio-header {
        text-align: center;
    }

    .demo-quiz {
        font-family: 'Montserrat', sans-serif;
        color: #e8e5ff;
        text-align: center;
        margin-top: 100px;
    }

    div.demo-quiz h3 {
        font-size: 28px;
    }

    .screenshot {
        width: 1040px;
        border: #6c787c solid 1px;
        border-radius: 5px;    
    }

    li.nav-button {
        display: none;
    }

    .description {
        font-family: 'Montserrat', sans-serif;
        color: #e8e5ff;
        font-size: 25px;
    }

    .hidden {
        display: none;
    }

    .demo {
        text-align: center;
        margin-top: 190px;
    }

    .mobile-screenshot {
        display: none;
    }

    .pc-photo {
        border:#6c787c solid 1px;
        width: 247px;
        border-radius: 5px;
    }

    .pc-photo2 {
        border:#6c787c solid 1px;
        width: 275px;
        border-radius: 5px;
    }

    a.repository-link {
        color: #7cabfe;
        font-size: 26px;
    }

    h3 a {
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        font-size: 25px;
        color: #e8e5ff;
    }

    .mobile-text {
        display: none;
    }
}
