
$main-color: steelblue;
$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

@keyframes myAnim {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }