$primary-back-color: rgb(28, 71, 71);
$primary-color: #EE5407;
$secondary-color1: #039FB6 ; 
$secondary-color2: #3b4e76 ;
$secondary-color3:  darkslategray;
$secondary-color4:#a73801;
$secondary-color5: rgb(96, 190, 1);
$primary-text-color: #fff;
$nav-color: #c74403;
$forms-back: rgb(12, 61, 61);
$disabled-color: rgb(35, 62, 63);
$test-color: #2b59c3;
$test-2 :#3f4045;
$test-3: #546a7b;


$back-color: rgb(235, 211, 211);
$nav-color1: crimson;
$nav-color2: crimson;
$img-profile-box: #009ffd;


$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}