@import "../global.scss";

.testimonials {
    position: relative;
    height: 350px !important;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

        @include mobile {
            flex-wrap: wrap;
        }

        .skillBox {
            // position: absolute;
            width: 95px;
            height: 95px;
            margin: 20px;
            transition: all 1.5s ease;
        }
    }
    
}


