@import "../global.scss";

.testimonials {
    position: relative;
    height: 250px !important;
    align-items: center;
    text-align: center;
    overflow: hidden;
    @include mobile {
        height: 480px !important;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;

        @include mobile {
            flex-wrap: wrap;
        }

        .skillBox {
            width: 95px;
            height: 95px;
            margin: 20px;
            transition: all 1.5s ease;
        }
    }
    
}


