@import "../global.scss";

.aboutme {
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 850px !important;

    @include mobile {
        height: 1700px !important;
    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        h1 {
            margin: 25px;
        }
    }
    .left {
        margin: 15px;
        width: 70%;
        align-items: center;
        text-align: center;
        overflow: hidden;

        .imgWrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .imgContainer {
            margin: 7px;
            width: 450px;
            height: 450px;
            overflow: hidden;
            position: relative;
            border: solid 1px dimgray;
            border-radius: 5px;
            -webkit-box-shadow: 2px 4px 15px 3px rgba(0,0,0,0.83); 
            box-shadow: 2px 4px 15px 3px rgba(0,0,0,0.83);

            @include mobile {
                width: 600px;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
                box-shadow: 0px 0px 0px 7px #000;
                
            }
        }
        .textContainer {
            padding: 10px;
            text-align: center;
            overflow: hidden;
            
            h1 {
                margin: 7px;
            }
            p {
                font-size: 20px;
            }
        }
    }

    .right {
        display: flex;
        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .svgLogo {
        position: absolute;
        width: 20%;
        bottom: 0;
        right: 0;
    }
    .socialIcons {
        width: 35px;
    }
}